.navbar-container {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.navbar-tel {
    color: #a6d723;
    font-size: 26px;
}
