.popup {}

.popup-whatsapp {
    position: fixed;

    bottom: 100px;
    right: 138px;

    display: flex;
    align-items: baseline;
}

.popup-icon {
    width: 75px;
    height: 75px;

    background-image: url('/images/icons/whatsapp.png');
    background-size: cover;
    background-position: center;

    cursor: pointer;
}
